* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Sans-Serif;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 60px;
}

.nav {
  max-width: 1366px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
}

.nav .nav-link {
  list-style-type: none;
  display: inline-block;
  margin: 0 5%;
  padding: 0;
  height: min-content;
}

.nav .nav-link li {
  float: left;
  display: inline;
  margin: 0 15px;
}

.nav .nav-link li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: white;
}

header {
  background: linear-gradient(to top, rgb(0, 24, 69, 0.60), rgb(0, 24, 69, 0.38)), url('');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}

header .container {
  width: 100%;
  height: 100%;
  max-width: 1366px;
}

header .container h1 {
  color: white;
  margin: 25% 0 0 10%;
  display: inline-block;
}